/*
Author: Shane Cheek
Date: 1/17/19
*/
body, header, article, aside, footer {
    border: 0;
    margin: 0;
    padding: 0;
}


img {
    float: left;
    margin: .8em .8em 0em .8em;
    height: 10em;
}

article {
    padding: 1em;
    width: 70%;
    float: left;
}

aside {
    float: right;
    width: 15em;
    left: 70%;
    top: 30%;
    position: fixed;
    background-color: rgba(95, 158, 160, 0.3);

}

.main_container {
    text-align: left;
    margin: 1em 3em 3em 3em;
    padding: 1em;
    max-width: 60em;
    position: absolute;
    background-color: rgba(156, 158, 160, 0.78);
}

#poem {
    background-color: rgba(95, 158, 160, 0.3);
    text-align: center;
    padding: .5em;
    margin: 0 25% 0 25%;
}

title {

}

footer {
    clear: both;
    text-align: center;
    width: 70%;
}

h2 {
    margin: 0;
}

p {
    padding: 0;
    font-size: 1.1em;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
