body {
    background-color: black;
}

header {
    border: .4em solid rgb(255, 58, 17);
    margin: 1em;
    padding: 1em;
    background-color: gray;
}

article {
    background-color: dimgray;
}

aside {
    background-color: darkslategrey;
}

footer {
    background-color: slategrey;
}
